body {
  background-color: white;
  text-align: center;
  height: 500px;
  margin-top: 250px;
}

.btn {
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  color: #FFFFFF;
  background-color: #E5B6D5;
  border: 8px;
  border-style: solid;
  border-color: #B2479A #CC7FB5;
  height: 80px;
  width: 230px;
  margin-right: 20px;
}

.btn:hover {
  background-color: #B2479A;
  border-color: #CC7FB5 #E5B6D5
}

@media screen and (max-width: 503px) {
  .btn-responsive {
    height: 50px;
    margin-top: 20px;
    font-size: 25px;
  }
}
